@import "tailwindcss";

@theme {
  --color-primary: #9b1748;

  --color-secondary: #D6296A;
  --color-tertiary: #5C0F2D;

  --color-primarybg: #111111;
  --color-secondarybg: #1A1A1A;
  --color-light-mode: #F5F5F5;

  --color-aux-primary: #F2B3C2;
  --color-aux-secondary: #E3A046;
}