@import "tailwindcss";

@theme {
  --color-primary: #9b1748; /* Este es color magenta */

  --color-secondary: #D6296A; /* Este es color rosa */
  --color-tertiary: #5C0F2D; /* Este es color vino */

  --color-primarybg: #111111; /* Este es color negro */
  --color-secondarybg: #1A1A1A; /* Este es color gris */
  --color-light-mode: #F5F5F5; /* Este es color blanco */

  --color-aux-primary: #F2B3C2; /* Este es color rosa claro */
  --color-aux-secondary: #E3A046; /* Este es color amarillo/dorado */
}