@import "tailwindcss";

@theme {
  --color-primary: #9b1748; /* Este es color magenta */

  --color-secondary: #D6296A; /* Este es color rosa */
  --color-tertiary: #5C0F2D; /* Este es color vino */

  --color-primarybg: #111111; /* Este es color negro */
  --color-secondarybg: #1A1A1A; /* Este es color gris */
  --color-light-mode: #F5F5F5; /* Este es color blanco */

  --color-aux-primary: #F2B3C2; /* Este es color rosa claro */
  --color-aux-secondary: #E3A046; /* Este es color amarillo/dorado */

  --font-shadowstudio-heading: "Oswald", sans-serif;
  --font-shadowstudio-body: "Inter", sans-serif;
}

::selection {
  background-color: #9b1748;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E3A046;
}
::-webkit-scrollbar-thumb {
  background: #D6296A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F2B3C2;
}

h1, h2, h3, h4 {
  font-family: var(--font-shadowstudio-heading);
}

.overflow-hidden {
  overflow: hidden !important;
}