---
interface Props {
  mapQuery: string;
}

const { mapQuery } = Astro.props;
---

<div class="w-full lg:w-[55%] xl:w-[60%] relative min-h-[500px] lg:min-h-auto overflow-hidden group">
        
  <iframe
    width="100%"
    height="100%"
    style="border:0;"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    class="absolute inset-0 w-full h-full map-filter transition-all duration-1000 ease-out group-hover:scale-105"
    src={`https://maps.google.com/maps?q=${mapQuery}&t=&z=15&ie=UTF8&iwloc=&output=embed`}
  >
  </iframe>

  <div class="absolute inset-0 bg-gradient-to-t lg:bg-gradient-to-r from-primarybg via-primarybg/50 to-transparent z-10 pointer-events-none"></div>
  
  <div class="absolute inset-0 bg-secondarybg/10 pointer-events-none group-hover:bg-transparent transition-colors duration-500 z-10"></div>

</div>

<style>
  /* Filtro Dark Mode para el mapa */
  .map-filter {
    filter: grayscale(100%) invert(92%) contrast(83%);
  }
</style>