---
import AuroraLayout from "../layouts/Aurora.astro";

import Header from "../components/estudio-capilar-aurora/Header.astro";
import Hero from "../components/estudio-capilar-aurora/Hero.astro";
import Services from "../components/estudio-capilar-aurora/Services.astro";
import Galery from "../components/estudio-capilar-aurora/Galery.astro";
import About from "../components/estudio-capilar-aurora/About.astro";
import Contact from "../components/estudio-capilar-aurora/Contact.astro";
import Footer from "../components/estudio-capilar-aurora/Footer.astro";
---

<AuroraLayout title="Estudio Capilar Aurora | Home">
  <Header />
  
  <main>
    <Hero />
    <section id="servicios">
      <Services />
    </section>
    <section id="portfolio">
      <Galery />
    </section>
    <section id="filosofia">
      <About />
    </section>
    <section id="contacto">
      <Contact />
    </section>
  </main>

  <Footer />
  
</AuroraLayout>